@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

p {
    text-align: justify;
    margin-left: 10px;
}

.content {
    margin: 0 auto;
    max-width: 335px;
    background-color: #fff;
    padding: 10px;

}

.btn {
    background: linear-gradient(to right, #B31841, #ebbcc9);
    padding: 5px 10px 5px 10px;
    cursor: pointer;

    border-radius: 5px;
    color: #FFF;
}
.close-img {
    width: 16px;
    height: 16px;
    margin-left: 300px;
    padding: 4px;
   
}
.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.modal-content {
    margin: 0 auto;
    margin-top: 20%;
    max-width: 335px;
    background-color: #fff;
    padding: 0;
    box-shadow: 0 0 2px #fff;

}

.modal-header h1 {
    font-weight: bold;
    text-align: center;
    font-size: 2.8rem;
    font-family: "Poppins", sans-serif;
}

.modal-body span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
    font-family: "Poppins", sans-serif;
}

.modal-header, .modal-footer {
    padding: 10px;
}

.container-cards {
    display: flex;
    gap: 2rem;
    
}